<div class="container-fluid">
  <div class="row mt-5">

    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <figure class="hover-rotate">
          <img src="assets/images/html5-logo-html-logo-0.png" class="card-img-top mt-2 custom-pic" alt="...">
        </figure>
        <div class="card-body">
          <h5 class="card-title heading-banner">HTML</h5>
          <p class="card-text">HTML is the foundation that holds all the content and design elements together. It gives
            structure to the web page, defining things like headings, paragraphs, and links.</p>
          <a href="#" routerLink="/html" class="btn btn-secondary btn-grad" data-bs-toggle="tooltip" data-bs-placement="bottom"
            title="Learn HTML">Touch Here</a>
        </div>
      </div>

    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <figure class="hover-rotate">
          <img src="assets/images/css-3-logo-AF06D75231-seeklogo.com.png"
            class="card-img-top mt-2 custom-pic d-flex justify-content-center" alt="...">
        </figure>
        <div class="card-body">
          <h5 class="card-title heading-banner">CSS</h5>
          <p class="card-text">CSS is used to define styles for your web pages, including the design, layout and
            variations in display for different devices and screen sizes.the coding language that gives a website its
            looks.</p>
          <a href="#" class="btn btn-secondary btn-grad" data-bs-toggle="tooltip" data-bs-placement="bottom"
            title="Learn CSS">Touch Here</a>
        </div>
      </div>

    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <figure class="hover-rotate">
          <img src="assets/images/pngegg.png" class="card-img-top mt-2 custom-pic d-flex justify-content-center"
            alt="...">
        </figure>
        <div class="card-body">
          <h5 class="card-title heading-banner">Java Script</h5>
          <p class="card-text">JavaScript's most popular use is for web development, and it is one of the most powerful
            tools.Developers use to improve the user experience and make the internet much more enjoyable</p>
          <a href="#" class="btn btn-secondary btn-grad" data-bs-toggle="tooltip" data-bs-placement="bottom"
            title="Learn Javascript">Touch Here</a>
        </div>
      </div>

    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <figure class="hover-rotate">
          <img src="assets/images/pngegg (1).png" class="card-img-top mt-2 custom-pic d-flex justify-content-center"
            alt="...">
        </figure>
        <div class="card-body">
          <h5 class="card-title heading-banner">Angular</h5>
          <p class="card-text">Entrepreneurs have preferred using Angular for building strong scalable web applications
            because of its efficiency, fast development speed integration with other platforms.</p>
          <a href="#" class="btn btn-secondary btn-grad" data-bs-toggle="tooltip" data-bs-placement="bottom"
            title="Learn Angular">Touch Here</a>
        </div>
      </div>
    </div>
  </div>
